<a href="https://colab.research.google.com/github/Ishita1026/Ishita1026/blob/main/iterables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#iterables
# can internate through each value in the given list, tuple, set, dictionary ,string

#for loop

for x in 'Zero to mastery':
  print(x)

Z
e
r
o

t
o

m
a
s
t
e
r
y

In [ ]:
for x in (1,2,3,4,5,6):
  print(x)
  print(x)
  print(x)
print(x)

1
1
1
2
2
2
3
3
3
4
4
4
5
5
5
6
6
6
6

In [ ]:
#nested for loops
for item in (1,2,3,4,5):
  for x in['a','b','c']:
    print((item),x)
print('hi')

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c
hi

In [ ]:

# Write a program to find the sum of items in the list

ishita_list= [1,2,3,4,5,6,7,8,9,10]
counter=0
for i in ishita_list:
  counter+= i;

print(counter)

55

In [3]:
# range and enumerate how to use them vvimp : dont have to worry while naming for range could be anything even an underscore becuase
#all we are trying to do is use the range function

for number in range(0,10):
  print('email sent to all people')

email sent to all people
email sent to all people
email sent to all people
email sent to all people
email sent to all people
email sent to all people
email sent to all people
email sent to all people
email sent to all people
email sent to all people

In [4]:
for i in range(2):
  print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# cannot print range in reverse if step over  not given
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

In [11]:
#enumerate is to find the index of number in a list

for i,char in enumerate('Hellooooo'):
  print(i,char)

0 H
1 e
2 l
3 l
4 o
5 o
6 o
7 o
8 o

In [15]:
for i, char in enumerate(range(100)):
  if char == 78:
    print(f'The index of 78 is: {i}')

The index of 78 is: 78

In [18]:
# while loops when to use and when to use for loops

a=0
while a<10:
    print(a)
    break

0

In [19]:
ishita_list=[1,2,3]
for i in ishita_list:
  print(i)

1
2
3

In [23]:
i=0
while i<len(ishita_list):
  print(ishita_list[i])
  i+=1

1
2
3

In [30]:
# code to send out messages

while True:
 response=input('say something: ')
 if (response == 'bye'):
  break

say something: hi
say something: hi
say something: HI
say something: ok bye
say something: bye

In [39]:
# Display the image below to the right hand side where the 0 is going to be ' ', and the 1 is going to be '*'. This will reveal an image!
picture = [
  [0,0,0,1,0,0,0],
  [0,0,1,1,1,0,0],
  [0,1,1,1,1,1,0],
  [1,1,1,1,1,1,1],
  [0,0,0,1,0,0,0],
  [0,0,0,1,0,0,0]
]

for row in picture:
  for pixel in row:
   if (pixel == 1):
    print('*',end='')
   else:
    print(' ',end='')
  print('')

   *
  ***
 *****
*******
   *
   *